body {
    text-align: center;
    font-size:14px;
    line-height: normal;
    color:#FFFACD;
    background-color:#696969;
    font-family:cursive;

    display: flex;




    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0px 30px 70px 30px;
    padding: 0px 40px 0px 40px;
}

.zagolovok{
    padding-bottom: 4%;
}

h1 {
    padding: 0;
    margin-top: 5vh;
    margin-bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: solid 2px hsl(240, 93%, 65%);
}
.text1,
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .text1 {
  display: block;
}

/* Стилизация псевдокнопки */
.btn {
  display: inline-block;
  margin-bottom: 4px;
  padding: 4px 8px;
  background-color:#696969;
  cursor: pointer;
}
table{
    text-align: center;
    font-size:16px;
    line-height: normal;
    color:#FFFACD;
    background-color:#696969;
    font-family:cursive;
    border:solid 1px hsl(240, 93%, 65%);
}

td{
    margin: 0px;
    padding: 0px;
    border:solid 1px hsl(240, 93%, 65%);
}

a {
    text-align: center;
    padding: 0;
    margin-top: 5vh;
    margin-bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: solid 2px hsl(240, 93%, 65%);
    color:#FFFACD;
    text-decoration:none;
}


.text2,
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .text2 {
  display: block;
}

.text3,
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .text3 {
  display: block;
}

.text4,
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .text4 {
  display: block;
}

.text5,
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .text5 {
  display: block;
}

div .text1 {
    width: 100%;

}

label{
  padding: 0px 30px 0px 30px;
  min-width: 90%;
}

label> div{
  min-width: 90%;
  padding: 0px 30px 0px 30px;
}